body, #mainWrapper {
    height: 70%;
    background-color:rgb(245, 245, 245);
}

body, .form-control {
    font-size:12px!important;
}

.floatRight {
    float:right;
    margin-right: 18px;
}

.has-error {
    color:red;
}

.formcontainer {
    background-color: #DAE8E8;
    padding: 20px;
}

.tablecontainer {
    padding-left: 20px;
}

.generic-container {
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 70px !important;
}

.username.ng-valid {
    background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
    background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.address.ng-valid {
    background-color: lightgreen;
}

.address.ng-dirty.ng-invalid-required {
    background-color: red;
}

.address.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.city.ng-valid {
    background-color: lightgreen;
}

.city.ng-dirty.ng-invalid-required {
    background-color: red;
}

.city.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.country.ng-valid {
    background-color: lightgreen;
}

.country.ng-dirty.ng-invalid-required {
    background-color: red;
}

.country.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
    background-color: red;
}

.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.phone.ng-valid {
    background-color: lightgreen;
}

.phone.ng-dirty.ng-invalid-required {
    background-color: red;
}

.phone.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.owner.ng-valid {
    background-color: lightgreen;
}

.owner.ng-dirty.ng-invalid-required {
    background-color: red;
}

.owner.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}